/* ToastMessage.css */

.toast-container {
    min-width: 100%;
    overflow: hidden;
    max-height: none;
    background-color: transparent;
}

.wrapper {
    width: 420px;
    padding: 30px 20px;
    position: absolute;
    background-color: #47d764;
    max-height: 0px;
    bottom: -50px;
    right: 0;
    overflow: hidden;
    background-color: transparent;
}

.toast-container {
    position: fixed;
    bottom: 0px;
    right: 0;
    background-color: transparent;
    z-index: 0;

    .success-toast {
        min-width: 380px;
        height: 100px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
        border-left: 8px solid #47d764;
        border-radius: 7px;
        display: grid;
        grid-template-columns: 1.2fr 6fr 0.5fr;
        transition: 1s;
        z-index: 1500;
        position: fixed;
        bottom: 20px;
        right: 20px;

        .container-1,
        .container-2 {
            align-self: center;
        }

        .container-1 i {
            font-size: 40px;
            color: #47d764;
        }

        .container-2 p:first-child {
            color: #101020;
            font-weight: 600;
            font-size: 18px;
        }

        .container-2 p:last-child {
            font-size: 16px;
            color: #656565;
            font-weight: 400;
        }
    }


    .warning-toast {
        min-width: 380px;
        height: 95px;
        padding: 5px 20px;
        background-color: #ffffff;
        box-shadow: 0 10px 20px rgba(75, 50, 50, 0.05);
        border-left: 8px solid #fa5537;
        border-radius: 7px;
        display: grid;
        grid-template-columns: 1.2fr 6fr 0.5fr;
        transition: 1s;
        z-index: 1500;
        position: fixed;
        bottom: 20px;
        right: 20px;

        .container-1,
        .container-2 {
            align-self: center;
        }

        .container-1 i {
            font-size: 40px;
            color: #fa5537;
        }

        .container-2 p:first-child {
            color: #101020;
            font-weight: 600;
            font-size: 18px;
        }

        .container-2 p:last-child {
            font-size: 16px;
            color: #656565;
            font-weight: 400;
        }
    }


    /* actions */
    .show-toast {
        transform: translateX(0);
    }

    .hide-toast {
        transform: translateX(400px);
    }

}